*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    height: 100%;
    justify-content: center;
}

#grid-container{
    resize: both;
    display: grid;
    grid-template-rows: repeat(2,50px);
    grid-template-columns: repeat(4,100px);
    margin: 10px;
    gap: 10px;
    font-weight: bold;
}

.grid-item{
    text-align: center;
    color: white;
    border-radius: 7px;
}

#header{
    grid-area: 1 / 1 / 2 / 20;
    background-color: rgb(71, 145, 22);
}

#sidebar{
    grid-area: 2 / 1 / 15 / 4 ;
    background-color: rgb(41, 61, 80);
}

#nav{
    grid-area: 2 / 4 / 6 / 20;
    background-color: rgb(8, 8, 167);
}

#article{
    grid-area: 6 / 4 / 15 / 20;
    background-color: rgb(144, 82, 202);
}

#footer{
    grid-area: 15 / 1 / 20 / 20 ;
    background-color: gray;
}

#article .article-content{
    text-align: left;
    margin: 10px;
    font-size: clamp(12px,10px,14px);
}