*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
}

#grid-container{
    display: grid;
    gap: 4px;
}

header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1 / 8;
    color: white; 
    background-color: rgb(82, 82, 82);
    padding: 20px;
    font-weight: bold;
}

#sidebar{
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: repeat(4, 150px);
    justify-content: center;
    background-color: rgb(200, 13, 13);
    padding: 10px 0px;
    gap: 30px;
    grid-row: 2 / 24;
    grid-column: 1 / 3;
}

.box-div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#placeholder-for-image{
    border-radius: 10px;
}

nav{
    display: grid;
    align-items: center;
    text-align: center;
    color: white; 
    font-size: 14px;
    grid-template-columns: repeat(3, 1fr) ;
    background-color:  rgb(200, 13, 13) ;
    grid-row: 2 / 3;
    grid-column: 3 / 8;
}

h4 a{
    color: white;
    text-decoration: none;
}
menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size:13px;
    justify-content: center;
    text-align: center;
    margin-right: 30px;
    gap: 30px;
}

ul a{
    text-decoration: none;
    color: white;
}

#article{
    display:grid; 
    justify-content: center;
    background-color: rgb(123, 208, 208);
    grid-template-columns: repeat(auto-fill, clamp(200px, 100px, 120px));
    grid-template-rows: repeat(auto-fill, 1fr);
    padding: 12px;
    gap: 13px;
    grid-row: 3 / 24;
    grid-column: 3 / 8 ;
}

.article-content{
    padding: 10px;
    background-color: white;
    align-items: center;
    text-align: center;
}

footer{
    text-align: center;
    background-color: rgb(82, 82, 82);
    grid-column: 1 / 8 ;
    color: white;
    font-size: 12px;
    padding: 20px;
}